* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Reddit Mono", monospace;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#calculator {
    min-height: 70%;
    background-color: black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
}

#display {
    background-color: #9cc2ff;
    border: solid 1px;
    flex: 0 0 20%; 
    margin: 10px;
    display: flex;
}

#display p {
    padding: 0;
    margin: 0 0 0 auto;
    font-size: 96px;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    user-select: none;
}

#buttons div {
    flex-basis: 25%;
    font-size: 36px;
    display: flex;   
    justify-content: center;    
    align-items: center; 
    border: solid 1px;
    border-radius: 5%;
}

#buttons .number {
    background-color: rgb(197, 124, 249);
    
}

#buttons .operator {
    background-color: aquamarine;
}

#buttons .mod {
    background-color: coral;
}

#zero {
    flex: auto;
}

#equals, 
#clear {
    background-color:rgb(200, 245, 200);
}



